<section class="todoapp">
  <header class="header">
    <form id="new-form">
      <input type="text" class="new-todo" />
    </form>
  </header>

  
  <section class="main">
    <span class="date">
      <span class="date-number"><%= Date.today.strftime("%d") %></span>
      <span class="month">
        <%= Date.today.strftime("%b").upcase %>
        </br>
        <%= Date.today.strftime("%Y") %>
      </span>

      <span class="day"><%= Date.today.strftime("%A").upcase %></span>
    </span>     
     
    <ul class="todo-list">
    </ul>

</section>
<div class="add-button">
  <button>
  </button>  
</div>  



