// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,
body {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font: 12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #8B8E94;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  background: #F0EFE9;
}

button,
input[type="checkbox"] {
  outline: none;
}

.hidden {
  display: none;
}

.date {
  margin-left: 50px;
  display: block;
  line-height: 1.3;

}

.date-number {
  font-size: 40px;
}

.month {
  position: absolute;
  top: 6px;
  bottom: 0;
  /*margin: auto 0;*/
  left: 100px;
  font-weight: 600;
  font-size: 15px;
}


.day {
  position: absolute;
  top: 8px;
  bottom: 0;
  /*margin: auto 0;*/
  right: 55px;
  font-weight: 600;
  font-size: 16px;
}

.todoapp {
  background: #fff;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 300px;
 
  /*allow icon to be positioned on border */
  position: relative;
  min-height: 600px;
  max-width: 600px;
}


.add-button {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  
  >button{
    position: relative;
    min-height: 100px;
    margin: 0 auto;
    z-index: 10;
    width: 100px;
    height: 100px;
    /* JRAOUI Chihab https://chihabjraoui.com/ Free for commercial use */
    background-image: url('data:image/svg+xml;utf8,<svg enable-background="new 0 0 512 512" id="Layer_1" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Layer_1_1_"><path d="M494,256c0,131.4-106.6,238-238,238S18,387.4,18,256S124.6,18,256,18S494,124.6,494,256z" fill="#50E3A4"/></g><g id="Layer_2"><g><line fill="none" stroke="#46BE8B" stroke-linecap="round" stroke-miterlimit="10" stroke-width="16" x1="256" x2="256" y1="146" y2="374"/><line fill="none" stroke="#46BE8B" stroke-linecap="round" stroke-miterlimit="10" stroke-width="16" x1="150.5" x2="361.5" y1="260" y2="260"/></g></g></svg>');
    background-size: cover;
    background-repeat: no-repeat;
    border-top: inherit;
    border-top-color: transparent;
    display: block;
  }
}

.todoapp input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.todoapp input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.todoapp input::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.new-todo,
.edit {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  color: inherit;
  padding: 6px;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.new-todo {
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.main {
  position: relative;
  z-index: 2;
  border-top: 1px solid #e6e6e6;
}

label[for='toggle-all'] {
  display: none;
}

.toggle-all {
  position: absolute;
  top: -55px;
  left: -12px;
  width: 60px;
  height: 34px;
  text-align: center;
  border: none; /* Mobile Safari */
}

.toggle-all:before {
  content: '❯';
  font-size: 20px;
  color: #e6e6e6;
  padding: 10px 27px 10px 27px;
}

.toggle-all:checked:before {
  color: #737373;
}

.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.todo-list li {
  position: relative;
  font-size: 20px;
}

.todo-list li:last-child {
  border-bottom: none;
}

.todo-list li.editing {
  border-bottom: none;
  padding: 0;
}

.todo-list li.editing .edit {
  display: block;
  width: 506px;
  padding: 13px 17px 12px 17px;
  margin: 0 0 0 43px;
}

.todo-list li.editing .view {
  display: none;
}

.todo-list li .toggle {
  text-align: center;
  width: 40px;
  /* auto, since non-WebKit browsers doesn't support input styling */
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  /*margin: auto 0;*/
  right: 50px;
  border: none; /* Mobile Safari */
  -webkit-appearance: none;
  appearance: none;
}

.todo-list li .toggle:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#e6e6e6" stroke-width="10"/></svg>');
}

/*Linh Pham Thi Dieu http://linhpham.me/  Free for commercial use*/
.todo-list li .toggle:checked:after {
  content: url('data:image/svg+xml;utf8,<svg height="35px" version="1.1" viewBox="0 0 24 24" width="35px" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink"><title/><desc/><defs/><g fill="#50E3A4" fill-rule="evenodd" id="miu" stroke="#50E3A4" stroke-width="1"><g id="Artboard-1" transform="translate(-791.000000, -119.000000)"><g id="slice" transform="translate(215.000000, 119.000000)"/><path d="M792,130.5 C792,124.148725 797.148725,119 803.5,119 C809.851275,119 815,124.148725 815,130.5 C815,136.851275 809.851275,142 803.5,142 C797.148725,142 792,136.851275 792,130.5 Z M814,130.5 C814,124.70101 809.29899,120 803.5,120 C797.70101,120 793,124.70101 793,130.5 C793,136.29899 797.70101,141 803.5,141 C809.29899,141 814,136.29899 814,130.5 Z M805.834997,124.221458 C805.296415,124.369394 805.916262,125.794538 805.347936,125.675569 C804.785253,125.557782 804.109504,125.003112 803.742384,124.686263 C803.308945,124.312176 804.478579,124.342706 804.696563,124.035023 C804.957828,123.666249 804.731059,123.313515 804.516454,123.244948 C803.700935,122.984387 802.569409,123.595165 802.034366,123.460626 C801.088959,123.222899 801.526408,122.991946 800.508676,122.850105 C800.000853,122.77933 799.446609,123.1456 798.603616,122.979549 C797.575219,122.776978 797.584526,124.705871 797.200012,125.157367 C798.162543,124.317393 800.109011,124.931847 799.918345,125.675569 C799.669103,126.647779 801.447747,128.174325 801.730473,128.872857 C801.878598,129.23883 802.489969,128.476504 802.985433,129.860106 C803.075238,130.290907 803.614831,130.004643 804.078399,130.08904 C804.646125,130.1924 804.969851,130.656349 805.157041,130.762024 C805.725112,131.08272 802.836978,131.7571 805.679331,133.83123 C805.607074,134.863716 805.649686,135.825323 805.539933,135.999424 C805.289535,136.396626 805.422629,136.651259 805.539933,136.777223 C804.861953,136.950822 805.675651,138.394561 806.217912,138.064875 C806.550966,137.862383 806.217912,137.441098 806.507888,137.040405 C806.217912,136.340112 808.631265,134.424357 809.075589,134.091484 C809.075589,134.091484 809.060477,133.249235 809.733197,132.719866 C810.06744,132.456847 809.229477,131.92433 808.656836,132.108307 C808.656836,132.108307 808.622729,131.024823 807.053735,131.160023 C806.453168,131.211773 806.052427,130.834997 806.052427,130.834997 C806.052427,130.834997 805.539933,129.860107 804.977057,129.860107 C804.886195,129.860107 805.04669,129.499052 804.696563,129.315723 C804.421906,129.171911 803.657834,129.162842 803.657834,128.872857 C803.657834,128.582871 804.39879,128.698456 804.860349,128.332153 C804.999032,128.222091 805.203518,128.763305 805.347936,128.641517 C805.512968,128.502345 805.166836,128.247334 805.679331,127.811544 C805.772006,127.73274 806.274929,127.191726 806.702244,126.840994 C806.856488,126.714394 807.159613,126.812039 807.206577,126.684378 C807.38438,126.20106 806.558647,126.607673 806.836594,125.994605 C806.936163,125.774986 808.466008,126.381079 808.553762,126.292931 C808.765607,126.080133 807.422255,126.007813 807.979092,125.675569 C808.215425,125.534558 806.373578,124.073521 805.834997,124.221458 Z" fill="#50E3A4" id="circle-world-global-internet-earth-outline-stroke"/></g></g></svg>');
}

.todo-list li label {
  white-space: pre-line;
  word-break: break-all;
  padding: 15px 60px 15px 15px;
  margin-left: 45px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
}

.todo-list li.completed label {
  color: #e6e6e6;
}

.todo-list li .destroy {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  margin-bottom: 11px;
  transition: color 0.2s ease-out;
}

.todo-list li .destroy:hover {
  color: #af5b5e;
}

.todo-list li .destroy:after {
  content: '×';
}

.todo-list li:hover .destroy {
  display: block;
}

.todo-list li .edit {
  display: none;
}

.todo-list li.editing:last-child {
  margin-bottom: -1px;
}

.footer {
  color: #777;
  padding: 10px 15px;
  height: 20px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}

.footer:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
              0 8px 0 -3px #f6f6f6,
              0 9px 1px -3px rgba(0, 0, 0, 0.2),
              0 16px 0 -6px #f6f6f6,
              0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.todo-count {
  float: left;
  text-align: left;
}

.todo-count strong {
  font-weight: 300;
}

.filters {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
}

.filters li {
  display: inline;
}

.filters li a {
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

.filters li a.selected,
.filters li a:hover {
  border-color: rgba(175, 47, 47, 0.1);
}

.filters li a.selected {
  border-color: rgba(175, 47, 47, 0.2);
}

.clear-completed,
html .clear-completed:active {
  float: right;
  position: relative;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;
}

.clear-completed:hover {
  text-decoration: underline;
}

.info {
  margin: 65px auto 0;
  color: #bfbfbf;
  font-size: 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
}

.info p {
  line-height: 1;
}

.info a {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
}

.info a:hover {
  text-decoration: underline;
}

.author {
  text-align:center;
  margin-bottom:20px;
}

.author a {
  color:#b83f45;
}

/*
  Hack to remove background from Mobile Safari.
  Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .toggle-all,
  .todo-list li .toggle {
    background: none;
  }

  .todo-list li .toggle {
    height: 40px;
  }

  .toggle-all {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-appearance: none;
    appearance: none;
  }
}

@media (max-width: 430px) {
  .footer {
    height: 50px;
  }

  .filters {
    bottom: 10px;
  }
}




